{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Déjate sorprender</span>
        </h2>
        <p class="mb-3">Juego basado en tiempo, recursos y niveles.</p>
      </div>
    </div>
  </div>
</section>

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Crece como jugador</span>
            <span class="section-heading-lower">Sube de nivel</span>
          </h2>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae ipsum auctor, eleifend sapien posuere, elementum sapien. Donec suscipit lobortis mi, vel auctor leo varius molestie.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}